﻿@model RushHour.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Welcome, " + Model.Name;

    string userGroup = Model.IsAdministrator ? "Administrator" : "Normal User";
}

<div class="container">
    <div class="row">
        <h3>Your Profile</h3>
        <hr />

        @Html.Partial("_AlertMessages")

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome, @Model.Name!</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <img alt="User Avatar" src="@Constants.ImagesDirectory/UserAvatar.png" class="img-circle img-responsive"> 
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number:</td>
                                        <td>@Model.Phone</td>
                                    </tr>
                                    <tr>
                                        <td>Group:</td>
                                        <td>@userGroup</td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="@Url.Action("Index", "Appointment")" class="btn btn-primary">My Appointments</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Edit", "User", new { id = Model.Id })" data-original-title="Edit" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>

                    <span class="pull-right">
                        <a href="@Url.Action("Logout", "User")" data-original-title="Logout" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-log-out"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>