﻿@{
    ViewBag.Title = "Logout";
}

<h3>Goodbye!</h3>
<hr />

<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewBag.Message
</div>