﻿@model RushHour.ViewModels.AppointmentDetailsViewModel

@{
    ViewBag.Title = "Appointment Details";
}

<h2>Appointment</h2>

<div class="container">
    <div class="row">
        <h4>Details for appointment</h4>
        <hr />
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </dt>

                <dd>
                    <i class="glyphicon glyphicon-time"></i>
                    @Html.DisplayFor(model => model.StartDateTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDateTime)
                </dt>

                <dd>
                    <i class="glyphicon glyphicon-time"></i>
                    @Html.DisplayFor(model => model.EndDateTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ChosenActivities)
                </dt>

                <dd>
                    @foreach (var activity in Model.ChosenActivities)
                    {
                        <i class="glyphicon glyphicon-check"></i>
                        @Html.DisplayFor(model => activity.Name);
                        <br />
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>

                <dd>
                    <i class="glyphicon glyphicon-usd"></i>
                    @Html.DisplayFor(model => model.TotalPrice)
                </dd>

                @if (RushHour.Helpers.AuthenticationService.Current.IsAdministrator)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>

                    <dd>
                        <i class="glyphicon glyphicon-user"></i>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                }

                @if (Model.IsCancelled)
                {
                    <dt>Status</dt>
                    <dd class="text-danger">Cancelled</dd>
                }
            </dl>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
</p>
