﻿@model RushHour.ViewModels.AppointmentPagingViewModel

@{
    ViewBag.Title = "Appointments";

    var tableRowClass = new Func<bool, string>(val => (val) ? "text-danger" : "");

    var SetPagerDigitClass = new Func<bool, string>(val => (val) ? "active" : "");
    var SetPagerArrowClass = new Func<bool, string>(val => (val) ? "" : "disabled");
}

<h2>My Appointments</h2>

<p>
    @Html.ActionLink("Create New", "Edit", null, new { @class = "btn btn-success" })
</p>

@Html.Partial("_AlertMessages")

<table class="table">
    <tr>
        <th>#</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Price</th>
        <th>Cancelled</th>
        <th></th>
    </tr>

@foreach (var item in Model.Items)
{
    <tr class="@tableRowClass(item.IsCancelled)">
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.IsCancelled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Cancel", "Cancel", new { id = item.Id })
        </td>
    </tr>
}

</table>

<ul class="pagination">
    <li class="@SetPagerArrowClass(Model.HasPrevPage)">
        @if (Model.HasPrevPage)
        {
            <a href="@Url.Action("Index", new { page = Model.CurrentPageIndex - 1 })">&laquo;</a>
        }
        else
        {
            <span>&laquo;</span>
        }
    </li>

    @for (int index = 1; index <= Model.TotalPages; index++)
    {
        <li class="@SetPagerDigitClass(Model.IsCurrentPage(index))">
            @if (Model.CurrentPageIndex != index)
            {
                @Html.ActionLink(index.ToString(), "Index", new { page = index })
            }
            else
            {
                <span>@index</span>
            }
        </li>
    }

    <li class="@SetPagerArrowClass(Model.HasNextPage)">
        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("Index", new { page = Model.CurrentPageIndex + 1 })">&raquo;</a>
        }
        else
        {
            <span>&raquo;</span>
        }
    </li>
</ul>