﻿@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/SourceSansPro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F2F2F2;
    font-family: 'Source Sans Pro';
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-text {
    margin-top: 7px;
    margin-bottom: 5px;
}

.linear {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#rushhour-img {
    width: 500px;
    margin-top: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 43px;
    background-color: #222222;
    border-color: #121212;
    border-radius: 0;
    border: 1px solid transparent;
    text-align: center;
    font-size: 12px;
}

.footer .footer-text {
    color: #ffffff;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
