﻿<div class="navbar-form navbar-right">

    @if (AuthenticationService.Current.IsAuthenticated)
    {
        <p class="navbar-text">Welcome, <a href="@Url.Action("Index", "User")" class="navbar-link">@AuthenticationService.Current.Email</a></p>

        if (AuthenticationService.Current.IsAdministrator)
        {
            <a href="@Url.Action("Admin", "Home")" class="btn btn-success" title="Admin Panel">Admin Panel</a>
        }

        <a href="@Url.Action("Logout", "User")" class="btn btn-primary" title="Logout from your account">Logout</a>
    }
    else
    {
        <a href="@Url.Action("Login", "User")" class="btn btn-success" title="Login">Sign in</a>
        <a href="@Url.Action("Register", "User")" class="btn btn-primary" title="Create your own account">Sign up</a>
    }
</div>