﻿@{
    ViewBag.Title = "Admin Panel";
}

<div class="panel-body">
    <h2>Admin Panel</h2>
    <hr />
    <div class="alert alert-info alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Welcome to the Admin panel! From here you will be able to:
        <ul>
            <li>Add/Edit/Delete Activities</li>
            <li>Add/Edit/Delete Users</li>
            <li>View all created Appointments</li>
        </ul>
    </div>

    <a href="@Url.Action("Index", "Activity")" class="btn btn-primary">Activities</a>
    <a href="@Url.Action("All", "User")" class="btn btn-primary">Users</a>
    <a href="@Url.Action("All", "Appointment")" class="btn btn-primary">Appointments</a>
</div>