﻿@{
    ViewBag.Title = "Home";
}

<h2>Rush Hour - Home Page</h2>
<hr />

<div class="container">
    <div class="row">
         <img src="~/Images/RushHour.png" alt="Rush Hour" class="img-responsive center-block" id="rushhour-img" />
        <h3 class="text-danger text-center">Do not waste your time on appointing a meeting</h3>
    </div>
</div>